<div id="competences">
    <div class="content ">
        <h1 class="fs-42">competences</h1>

        <h1 class="fs-24">langages</h1>
        <% infos.competences.langages.forEach((value) => { %>
            <p><%= value.nom %></p>
        <% }) %>

        <h1 class="fs-24">FrameWork</h1>
        <% infos.competences.framework.forEach((value) => { %>
            <p><%= value.nom %></p>
        <% }) %>

        <h1 class="fs-24">Cms</h1>
        <% infos.competences.cms.forEach((value) => { %>
            <p><%= value.nom %></p>
        <% }) %>

        <h1 class="fs-24">Logiciel</h1>
        <% infos.competences.logiciel.forEach((value) => { %>
            <p><%= value.nom %></p>
        <% }) %>

        <h1 class="fs-24">Autres</h1>
        <% infos.competences.autres.forEach((value) => { %>
            <p><%= value.nom %></p>
        <% }) %>
    </div>
</div>
