<div class="card">
    <div class="card-media">
        <div class="img-rounded">
            <img src="https://dcode.design/portfolio/me.svg" >
        </div>
    </div>
    <div class="card-body">
        <h1 ><%= infos.prenom %></h1>
        <h1 > <%= infos.nom %></h1>
        <div class="small-divider-white"></div>
        <h2 ><%= infos.poste %> </h2>
        <div class="small-divider-white"></div>
        <h3 ><i class="fas fa-map-marker-alt"></i> <%= infos.rue %></h3>
        <h3 > <%= infos.region %></h3>
        <div class="small-divider"></div>
        <h3 ><i class="fas fa-mobile-alt"></i> <%= infos.tel %> </h3>
        <div class="small-divider"></div>
        <h3 ><i class="fas fa-envelope-square"></i> <%= infos.email %> </h3>
    </div>
    <div class="card-social">
        <a href="#"><i class="fab fa-behance-square"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-codepen"></i></a>
    </div>
</div>
